.icon-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.icon-container:hover{
    cursor:pointer;
}

svg {
    transform-box: fill-box;
    transform-origin: center;
    transition: all .5s ease-in-out;
}

@keyframes wiggle {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(10deg);}
    75% {transform:rotate(-10deg);}
    100% {transform:rotate(0deg);}
}

#melon:hover #melon-seeds{
    animation: wiggle .5s ease-in-out;
    transform-origin: center;
    animation-iteration-count: infinite;
}

#melon-rind:hover{
    opacity:0%;
}