.icon-container{
    display: flex;
    justify-content: center;
    padding: 20px;
}

@keyframes wiggle {
    0% {transform:rotate(0deg);}
    25% {transform:rotate(3deg);}
    75% {transform:rotate(1deg);}
    100% {transform:rotate(0deg);}
}

/* #melon-seeds:hover{
    animation: wiggle .5s ease-in-out;
} */

#melon:hover{
    animation: wiggle .5s ease-in-out;
}